<ion-view view-title="Current Weather">
  <ion-content>

<div class="box">
  <div class="device">
      <section>
        <div class="weather" ng-repeat="data in data.hourly.data | limitTo:15" ng-style="{'background-color': '{{data.color}}' }">
            <div class="icon">
              <figure>
                <img src="../../lib/animated-climacons/climacons/svg-css/{{data.icon}}" ng-class="data.icon">
              </figure>  
            </div>
            <div class="content">
              <h2>{{data.time | Time}}</h2>
              <div class="degrees"> {{data.apparentTemperature | limitTo:2}}</div>
              <div class="data">
                <h3>{{data.summary}}with a</h3>                 
                <h3>{{data.precipProbability | Percent}} chance of rain</h3>
              </div>
            </div>
        </div>
      </section>
  </div>
</div>



  <!-- <div class="weatherBox">
  <div class="device">
      <section>
        <div class="weather time-morning active">
          <div class="icon">
            <i class="sun"></i>
          </div>
          <div class="content">
            <h3>Morning</h3>
            <div class="degrees">- 1</div>   
              <h2>Sunny</h2>
              <div>Wind: E 7 mph</div>
              <div>Humidity: 91%</div>
           </div>
        </div>
        <div class="weather time-day">
          <div class="icon">
            <i class="sun"></i>
            <i class="cloud windy"></i>
          </div>
          <div class="content">
            <h3>Day</h3>
            <div class="degrees">+ 3</div>
            <div class="data">          
              <h2>Mostly Sunny</h2>
              <div>Wind: N 5 mph</div>
              <div>Humidity: 45%</div>
            </div>
          </div>
        </div>
        <div class="weather time-evening">
          <div class="icon">
            <i class="sun"></i>
            <i class="cloud"></i>
            <i class="sprinkles"></i>
            <i class="sprinkles"></i>
            <i class="sprinkles"></i>
            <i class="sprinkles"></i>
          </div>
          <div class="content">
            <h3>Evening</h3>
            <div class="degrees">0</div>
            <div class="data">          
              <h2>Rainy</h2>
              <div>Wind: W 12 mph</div>
              <div>Humidity: 91%</div>
            </div>
          </div>
        </div>
        <div class="weather time-night">
          <div class="icon">
            <i class="moon"></i>
            <i class="cloud"></i>
            <div class="snowflakes">
              <i class="snowflake"></i>
              <i class="snowflake"></i>
              <i class="snowflake"></i>
              <i class="snowflake"></i>
            </div>
          </div>
          <div class="content">
            <h3>Night</h3>
            <div class="degrees">- 2</div>
            <div class="data">          
              <h2>Cloudy</h2>
              <div>Wind: N 2 mph</div>
              <div>Humidity: 47%</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div> -->


  </ion-content>
</ion-view>
