<ion-view view-title="Weather Search">

  <ion-content>
    <div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
    		<i class="icon ion-cloud placeholder-icon"></i>
    		<input type="search" placeholder="Search for location..." ng-model="$parent.query" ng-change="$parent.queryChanged()">
  		</label>
	</div>
	<ion-list class="list-inset" can-swipe="true">
		<ion-item ng-repeat="names in cities"> {{names.formatted_address}} </ion item> 
	</ion-list>
  </ion-content>
</ion-view>


